body {
    font-family: 'Lato', sans-serif;
    font-weight:400;
}
h1 {
    font-size:80px;
}

/** REV SLIDER WITH CANVAS **/

.revo-slider-emphasis-text {
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
}

.revo-slider-desc-text {
    font-family: 'Raleway', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
}

.tp-video-play-button { display: none !important; }

.tp-caption { white-space: nowrap; }

/** SLIDER **/

#slider {
    top:-102px;
}
.rev-slide {
    font-family:font-family: 'Raleway', sans-serif;
    color:#FFF;
}
#slide-1 h5 {
    letter-spacing:0;
    font-family: 'Raleway', sans-serif;
    font-size:24px !important;
    position:relative;
    font-weight:400;
    width:561px;
    max-width:561px;
    text-align:center;
}
#slide-1 h1 {
    font-size:80px !important;
    letter-spacing:0;
    max-width:561px;
    font-family: 'Raleway', sans-serif;

}
#slide-1 p {
    font-size:28px !important;
    font-weight:400;
    font-family:font-family: 'Raleway', sans-serif;
    position:relative;
    line-height:35px;
}
#slide-1 div.col-sm-6.tright > div:nth-child(1) {
    font-size:20px !important;
    margin-bottom:13px;
    line-height:14px;
}
#slide-1 .tel-text {
    font-size:32px !important;
    color:#FFF;
}
#slide-1 .row > div:nth-child(2) {
    border-left:1px solid #FFF;
}
#slide-1 .button {
    margin-top:0;
    margin-bottom:0;
}
#slide-1 .final-p {
    font-size:20px;
    font-family: 'Lato', sans-serif;

}
#slide-1 .final-p a {
    color:#FFF;
}

/** NAVBAR **/
#logo img {
    padding:5px 0;
}

#primary-menu-trigger {
    font-size:28px;
    color:#02182D;
}

.device-xxs #primary-menu-trigger {
    margin-left:-5%;
}
#primary-menu ul li > a {
    color:#FFF;
    font-size:18px;
}
.device-sm #header-wrap, .device-xs #header-wrap, .device-xxs #header-wrap {
    background:#FFF;
}


@media (max-width:1350px) {
    #primary-menu ul li > a {
        font-size:16px;
        padding-left:10px;
        padding-right:10px;
    }
    #logo img {
        padding:10px 0;
    }
}
@media (max-width:1150px) {
    #primary-menu ul li > a {
        font-size:14.5px;
        padding-left:7.5px;
        padding-right:7.5px;
    }
    #logo img {
        padding:17px 0;
    }
}
.device-sm #logo img, .device-xs #logo img, .device-xxs #logo img {
    padding:5px 0;
}

.sticky-header #primary-menu ul li > a {
    color:#02182D;
}
.device-sm #primary-menu ul li > a, .device-xs #primary-menu ul li > a, .device-xxs #primary-menu ul li > a {
    color:#02182D;
}

#side-panel-trigger {
    width:22px;
    height:22px;
    right:15px;
}



.fa-info-circle {
    font-size:22px;
    position:relative;
    color:#FFF;
}
.device-sm .fa-info-circle, .device-xs .fa-info-circle, .device-xxs .fa-info-circle {
    color:#02182D;
}
.sticky-header .fa-info-circle {
    color:#02182D;
}

.device-xxs #primary-menu-trigger {
    margin-left:-5%;
}
.device-xxs #side-panel-trigger {
    margin-right:-5%;
}
