body {
    font-family: 'Lato', sans-serif;
    font-weight:400;
}

/** REV SLIDER **/

.revo-slider-emphasis-text {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
}

.revo-slider-caps-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
}
.tp-video-play-button { display: none !important; }

.tp-caption { white-space: nowrap; }

/** SLIDER **/

#slider {
    top:-102px;
}

/** NAVBAR **/
#logo img {
    padding:5px 0;
}

#primary-menu-trigger {
    font-size:28px;
    color:#02182D;
}

.device-xxs #primary-menu-trigger {
    margin-left:-5%;
}
#primary-menu ul li > a {
    color:#FFF;
    font-size:18px;
}
.device-sm #header-wrap, .device-xs #header-wrap, .device-xxs #header-wrap {
    background:#FFF;
}


@media (max-width:1350px) {
    #primary-menu ul li > a {
        font-size:16px;
        padding-left:10px;
        padding-right:10px;
    }
    #logo img {
        padding:10px 0;
    }
}
@media (max-width:1150px) {
    #primary-menu ul li > a {
        font-size:14.5px;
        padding-left:7.5px;
        padding-right:7.5px;
    }
    #logo img {
        padding:17px 0;
    }
}
.device-sm #logo img, .device-xs #logo img, .device-xxs #logo img {
    padding:5px 0;
}

.sticky-header #primary-menu ul li > a {
    color:#02182D;
}
.device-sm #primary-menu ul li > a, .device-xs #primary-menu ul li > a, .device-xxs #primary-menu ul li > a {
    color:#02182D;
}

#side-panel-trigger {
    width:22px;
    height:22px;
    right:15px;
}



.fa-info-circle {
    font-size:22px;
    position:relative;
    color:#FFF;
}
.device-sm .fa-info-circle, .device-xs .fa-info-circle, .device-xxs .fa-info-circle {
    color:#02182D;
}
.sticky-header .fa-info-circle {
    color:#02182D;
}

.device-xxs #primary-menu-trigger {
    margin-left:-5%;
}
.device-xxs #side-panel-trigger {
    margin-right:-5%;
}
